body > div{
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 750px) / 2);
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#9E9E9E ;
     
}


header {
    display: inline-block;
    width: 100%;
    
}
header > img {
    display: inline-block ;
    float: left;
    height: 50px;
    

}

nav {
    display: inline-block;
    float: right;
    margin-top: 10px;
}
 
a{
    display: inline-block;
    color: #9E9E9E ;
    float: left ;
    text-decoration: none;
    padding: 5px;  
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    line-height: 20px;
   
}

a:nth-of-type(5){
    border: 3px solid #9E9E9E;
    margin-top: -3px;
    margin-left: 20px;
    text-transform: uppercase;
    border-radius: 18px;

        
    
}



main { 
    display: inline-block ;
    width: 100%;
    margin-top: 22px;
}
main > div{
    display: inline-block ;
    width: 35% ;
    float: left ;
    margin-left: 5% ;
    margin-top: 35px;

}
h1{
    display: inline-block;
    width: 100%;
    font-size: 60px;
    margin: 0;
    

}
p{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin: 0;
}

main > img{
    display: inline-block;
    width: 50%;
    float: left;
    margin-left: 10%;
}
